.mov-item {
  min-height: 70px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  transition: all linear 0.15s;
}

.img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-holder {
  text-align: right;
  padding-right: 20px;
}

.mov-item:hover {
  background: #ffffff;
}
