.extrato-container {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 150px);
}

.extrato-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.total {
  bottom: 0;
  right: 0;
  width: 80%;
  text-align: right;
  position: fixed;
  background: linear-gradient(to right, rgba(248, 87, 165, 0) 0%, rgba(248, 87, 165, 0.4) 29%, rgba(252, 88, 120, 1) 72%, rgba(255, 88, 91, 1) 100%);
  padding: 0 20px 0 0;
}

.app-mov-item:last-child {
  margin-bottom: 80px;
}

