.card-estabelecimento {
    min-height: 150px;
    width: 38%;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    margin: 50px auto;
}

.lbl-field {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
}

.input-field {
    margin: 5px 0;
}

.btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px auto 4px;
}

.btn {
    position: relative;
    padding: 0;
    width: 110px;
    margin: 0 8px;
    height: 27px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
    text-decoration: none;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.1);
}

.fix-height {
    height: 30px;
}