<app-header></app-header>
<form [formGroup]="estabelecimentoForm" class="row card card-estabelecimento" (ngSubmit)="save()">

  <h1 class="col-xs-12">ESTABELECIMENTO</h1>

  <label class="col-xs-3 lbl-field" for="txbNome">Nome:</label>
  <input class="col-xs-8 input-field" type="text" id="txbNome" formControlName="nome">

  <label class="col-xs-3 lbl-field" for="txbSobrenome">Sobrenome:</label>
  <input class="col-xs-8 input-field" type="text" id="txbSobrenome" formControlName="sobrenome">

  <label class="col-xs-3 lbl-field" for="txbTelefone">Telefone:</label>
  <input class="col-xs-8 input-field" type="text" id="txbTelefone" formControlName="telefone">

  <label class="col-xs-3 lbl-field" for="txbEmail">Email:</label>
  <input class="col-xs-8 input-field" type="text" id="txbEmail" formControlName="email">

  <label class="col-xs-3 lbl-field" for="txbCNPJ">CNPJ:</label>
  <input class="col-xs-8 input-field" type="text" id="txbCNPJ" formControlName="cnpj">

  <label class="col-xs-3 lbl-field" for="ddlCategorias">Categorias:</label>
  <select id="ddlCategorias" class="input-field col-xs-8" formControlName="categoria">
    <option *ngFor="let cat of categorias" value={{cat.id}}>
      {{cat.nome}}
    </option>
  </select>
  <div class="btn-holder">
    <a routerLink="/login" class="btn">Voltar</a>
    <input type="submit" class="btn fix-height" value="Salvar"> <!-- TODO: SUBMIT -->
  </div>
  <div *ngIf="estabelecimentoInvalid" style="color: #ff0000">Dados inválidos</div>
</form>

<div class="bg-cover" *ngIf="success"></div>

<div class="modal" *ngIf="success">
  <p class="qr-code-tip" *ngIf="!qrCodeConfirmed">{{ mensagem }}</p>
  <p class="qr-code-success" *ngIf="qrCodeConfirmed">Sucesso!</p>
</div>

