.card-estabelecimento {
    min-height: 150px;
    width: 38%;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    margin: 50px auto;
}

.card-estabelecimento {
    width: 38%;
    margin: 50px auto;
}

.lbl-field {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
}

.fix-height {
    height: 30px;
}