<app-header></app-header>
<form [formGroup]="estabelecimentoForm" class="row card-estabelecimento" (ngSubmit)="save()">
  
  <h1 class="col-xs-12">ESTABELECIMENTO</h1>
  <h5 *ngIf="success">Your form is valid!</h5>

  <label class="col-xs-3 lbl-field" for="txbNome">Nome:</label>
  <input class="col-xs-8 input-field" type="text" id="txbNome" formControlName="nome">

  <label class="col-xs-3 lbl-field" for="txbCNPJ">CNPJ:</label>
  <input class="col-xs-8 input-field" type="text" id="txbCNPJ" formControlName="cnpj">

  <label class="col-xs-3 lbl-field" for="ddlCategorias">Categorias:</label>
  <select id="ddlCategorias" class="input-field col-xs-8">
    <option *ngFor="let cat of categorias" value={{cat.id}}>
      {{cat.nome}}
    </option>
  </select>
  <div class="btn-holder">
      <a routerLink="/login" class="btn">Voltar</a>
      <input type="submit" class="btn fix-height" value="Salvar"> <!-- TODO: SUBMIT -->
  </div>
</form>
