.card-login {
  min-height: 150px;
  width: 42%;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}

.login-container {
  padding: 40px;
  width: 70%;
  margin: 0 auto;
}

.btn-holder {
  margin: 15px 0 0 0;
}

.lbl-login {
  padding: 0 10px 0 0;
}
