.dependente-item {
    background: #ffffff;
    height: 30px;
    margin-bottom: 0px;
    padding: 0 0 0 8px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dependente-holder {
    padding: 0;
}

.dependente-close {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #ff0000;
    color: #ffffff;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.15s;
}

.dependente-close:hover {
    background: #ff4242;
}