<div class="row middle-xs">
  <div class="col-xs">
    <app-header-titular [listadependentes]="dependentes" (filtroChange)="getFiltro($event)"></app-header-titular>
  </div>
</div>
<div class="mapa-holder row top-xs">
  <div class="col-xs-12 map-full-height">
    <app-mapa></app-mapa>
  </div>
  <div class="col-xs-3 extrato-holder">
    <app-extrato [pageTitular]="true" [movimentacoes]="movimentos" [total]="total"></app-extrato>
  </div>

  <div class="bg-cover" *ngIf="sucess"></div>

  <div class="modal" *ngIf="sucess">
    <p class="qr-code-tip" *ngIf="!qrCodeConfirmed">Aponte seu telefone para esta tela<br/> e aguarde a confirmação</p>
    <p class="qr-code-success" *ngIf="qrCodeConfirmed">Sucesso!</p>
  </div>
</div>
