.container {
  position: relative; /* NORMALIZE FIX */
}

@font-face {
  font-family: GilroyRegular;
  src: url(assets/font/Gilroy-Regular.ttf);
}

body {
  background: #f1f1f1;
  font-family: GilroyRegular, Arial, Helvetica, sans-serif;
}

.logo {
  background: hsla(326, 79%, 32%, 1);
  width: 80px;
  height: 80px;
  margin: 10px 20px;
  border-radius: 50px;
  color: #f1f1f1;
  font-family: GilroyRegular;
  font-size: 47px;
  text-align: center;
  line-height: 74px;
}

.full-height {
  position: relative;
  height: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover{
  background: rgba(255, 255, 255, 0.5);
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.card {
  min-height: 150px;
  width: 42%;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}

.input-field {
  margin: 5px 0;
}

.btn {
  position: relative;
  padding: 0;
  width: 110px;
  margin: 0 8px;
  height: 27px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  text-decoration: none;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.btn-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px auto 4px;
}

.bg-cover {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 1001;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scale(2);
  /* margin: -200px 0 0 -200px; */
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  
  background: rgba(0, 0, 0, 0.6);
}
