.container {
  position: relative; /* NORMALIZE FIX */
}

@font-face {
  font-family: GilroyRegular;
  src: url(assets/font/Gilroy-Regular.ttf);
}

body {
  background: #f1f1f1;
  font-family: GilroyRegular, Arial, Helvetica, sans-serif;
}

.logo {
  background: hsla(326, 79%, 32%, 1);
  width: 80px;
  height: 80px;
  margin: 10px 20px;
  border-radius: 50px;
  color: #f1f1f1;
  font-family: GilroyRegular;
  font-size: 47px;
  text-align: center;
  line-height: 74px;
}
